<html>
    <head>
        <meta charset="utf-8">
        <title>Injector Preferences</title>
        <link rel="stylesheet" href="/static/css/preferences.css">
        <script type="text/javascript" src="/static/js/preferences.js"></script>
    </head>
    <body>
        TODO: Setup the preference page with certificate settings, injection setup, etc. </br>
        Install the root certificate on all devices using this
        device as their DNS Server:
        <a href="/static/rootCert.cer" download="Certificate.cer">
            Download Certificate
          </a>
    </body>
</html>